.Button {
  --button-bg-color: #00c0ff;
  --button-bg-hover-color: #00b0ff;
  --button-bg-active-color: #00a0ff;
  --button-text-color: #fff;
  --button-text-hover-color: #fff;
  --button-text-active-color: #fff;
  --button-border-color: #00c0ff;
  --button-border-hover-color: #00b0ff;
  --button-border-active-color: #00a0ff;

  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  font-family: minecraft;
  color: var(--button-text-color);
  border: none;
  position: relative;
  cursor: pointer;
  border-style: solid;
  border-width: 0 0 4px 0;
  border-top-color: transparent;
  border-bottom-color: var(--button-border-color);
  border-left-color: transparent;
  border-right-color: transparent;
  background-color: var(--button-bg-color);
  background-clip: padding-box;
  box-sizing: border-box;
}

.Button:hover {
  background-color: var(--button-bg-hover-color);
}

.Button_active:hover,
.Button:active:hover {
  border-bottom-color: var(--button-bg-hover-color);
}

.Button:focus {
  outline: none;
  box-shadow: none;
}

.Button:focus::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 20px);
  box-shadow: inset 0 0 0 4px white;
}

.Button_active::after,
.Button:active::after {
  display: none;
}

.Button_active,
.Button:active {
  border-bottom-color: transparent;
  outline: none;
  box-shadow: none;
  border-width: 4px 0 0;
  border-bottom-color: var(--button-bg-color);
}

.Button_primary {
  --button-bg-color: #3b8526;
  --button-bg-hover-color: #52a535;
  --button-bg-active-color: #2a641c;
  --button-text-color: #fff;
  --button-text-hover-color: #fff;
  --button-text-active-color: #fff;
  --button-border-color: #1d4d13;
  font-family: minecraft-bold;
  text-transform: uppercase;
}

.Button_clear {
  border: none;
  --button-bg-color: transparent;
  --button-bg-hover-color: rgba(244, 246, 249, 0.2);
  --button-bg-active-color: rgba(244, 246, 249, 0.1);
  --button-text-color: #fff;
  --button-text-hover-color: #fff;
  --button-text-active-color: #fff;
  --button-border-color: transparent;
}

.Button_secondary {
  --button-bg-color: #d0d1d4;
  --button-bg-hover-color: #f4f6f9;
  --button-bg-active-color: #b1b2b5;
  --button-text-color: #1e1e1f;
  --button-text-hover-color: #1e1e1f;
  --button-text-active-color: #1e1e1f;
  --button-border-color: #58585a;
}
