.Input {
  --input-background-color: #313234;
  --input-bezel-color: var(--bezel-color);
  --input-bezel-color-invert: var(--bezel-color-invert);
  padding: 6px 12px;
  background-color: var(--input-background-color);
  color: #fff;
  font-family: "Minecraft";
  font-size: 16px;
  line-height: 1.4;
  border: none;
  box-sizing: border-box;
  box-shadow: inset 0px -2px 0px 0px var(--input-bezel-color-invert),
    inset -2px 0px 0px 0px var(--input-bezel-color-invert),
    inset 0px 2px 0px 0px var(--input-bezel-color),
    inset 2px 0px 0px 0px var(--input-bezel-color);
}

.Input::placeholder {
  color: #eee;
  opacity: 0.4;
}

.Input:focus {
  outline: none;
}

.Input[readonly],
.Input[disabled] {
  pointer-events: none;
}

.Input[disabled] {
  opacity: 0.5;
}
