:root {
  --checkbox-bg-color: #23232a;
  --checkbox-bg-checked-color: var(--primary-color);
  --checkbox-bg-checked-hover-color: var(--primary-color-hover);
  --checkbox-text-color: #fff;
  --checkbox-text-color-30: rgba(255, 255, 255, 0.3);

  --checkbox-text-hover-color: #f4f6f9;
  --checkbox-bezel-color: var(--bezel-color);
  --checkbox-bezel-color-invert: var(--bezel-color-invert);
}

.Checkbox {
  width: 16px;
  height: 16px;
  background-color: transparent;
  color: transparent;
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
}

.Checkbox:focus:not(:active) {
  box-shadow: 0 0 0px 1px var(--checkbox-bg-color),
    0 0 0 2px var(--checkbox-text-color);
}

.Checkbox:before,
.Checkbox:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.Checkbox:before {
  width: 16px;
  height: 16px;
  background-color: var(--text-color-invert);
  box-shadow: inset 0px -2px 0px 0px var(--checkbox-bezel-color-invert),
    inset -2px 0px 0px 0px var(--checkbox-bezel-color-invert),
    inset 0px 2px 0px 0px var(--checkbox-bezel-color),
    inset 2px 0px 0px 0px var(--checkbox-bezel-color);
}

.Checkbox:after {
  width: 5px;
  height: 5px;
}

.Checkbox:checked:before {
  background-color: var(--checkbox-bg-checked-color);

  box-shadow: inset 0px -2px 0px 0px var(--checkbox-bezel-color),
    inset -2px 0px 0px 0px var(--checkbox-bezel-color),
    inset 0px 2px 0px 0px var(--checkbox-bezel-color-invert),
    inset 2px 0px 0px 0px var(--checkbox-bezel-color-invert);
}

.Checkbox:hover:before {
  background-color: var(--background-color-hover);
}

.Checkbox:hover:checked:before {
  background-color: var(--checkbox-bg-checked-hover-color);
}

.Checkbox:checked:after {
  background-color: var(--checkbox-text-color);

  box-shadow: 0px -2px 0px 0px var(--checkbox-bezel-color),
    -2px 0px 0px 0px var(--checkbox-bezel-color),
    0px 2px 0px 0px var(--checkbox-bezel-color-invert),
    2px 0px 0px 0px var(--checkbox-bezel-color-invert);
}

.Checkbox:hover:checked:after {
  background-color: var(--checkbox-text-hover-color);
}

.Checkbox_indeterminate:after {
  background-color: var(--checkbox-bg-checked-color);
  width: 8px;
  height: 8px;
  box-shadow: inset 0px -2px 0px 0px var(--checkbox-bezel-color),
    inset -2px 0px 0px 0px var(--checkbox-bezel-color),
    inset 0px 2px 0px 0px var(--checkbox-bezel-color-invert),
    inset 2px 0px 0px 0px var(--checkbox-bezel-color-invert);
}

.Checkbox_indeterminate:hover:after {
  background-color: var(--checkbox-bg-checked-hover-color);
}

.Checkbox[readonly],
.Checkbox[disabled] {
  pointer-events: none;
  cursor: pointer;
}

.Checkbox[disabled] {
  opacity: 0.5;
}
