.Radio {
  --radio-bg-color: var(--midground-color);
  --radio-bg-checked-color: var(--primary-color);
  --radio-bg-checked-hover-color: var(--primary-color-hover);
  --radio-text-color: var(--text-color);
  --radio-text-color-30: rgba(255, 255, 255, 0.3);

  --radio-text-hover-color: var(--foreground-color);

  width: 16px;
  height: 16px;
  background-color: transparent;
  color: transparent;
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  transform: rotate(45deg);
}

.Radio:focus:not(:active) {
  @mixin bezel-invert;
}

.Radio:before,
.Radio:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.Radio:before {
  width: 16px;
  height: 16px;
  background-color: var(--text-color-invert);
  @mixin bezel-invert;
}

.Radio:after {
  width: 5px;
  height: 5px;
}

.Radio:checked:before {
  background-color: var(--radio-bg-checked-color);
  @mixin bezel;
}

.Radio:hover:before {
  background-color: var(--foreground-color);
}

.Radio:hover:checked:before {
  background-color: var(--radio-bg-checked-hover-color);
}

.Radio:checked:after {
  background-color: var(--radio-text-color);
  @mixin bezel-invert;
}

.Radio:hover:checked:after {
  background-color: var(--radio-text-hover-color);
}

.Radio_indeterminate:after {
  background-color: var(--radio-bg-checked-color);
  width: 8px;
  height: 8px;
  @mixin bezel-invert;
}

.Radio_indeterminate:hover:after {
  background-color: var(--radio-bg-checked-hover-color);
}

.Radio[readonly],
.Radio[disabled] {
  pointer-events: none;
  cursor: pointer;
}

.Radio[disabled] {
  opacity: 0.5;
}
