.Radio {
  --radio-bg-color: #23232a;
  --radio-bg-checked-color: var(--primary-color);
  --radio-bg-checked-hover-color: var(--primary-color-hover);
  --radio-text-color: #fff;
  --radio-text-color-30: rgba(255, 255, 255, 0.3);

  --radio-text-hover-color: #f4f6f9;
  --radio-bezel-color: var(--bezel-color);
  --radio-bezel-color-semi: var(--bezel-color-semi);
  --radio-bezel-color-invert: var(--bezel-color-invert);

  width: 16px;
  height: 16px;
  background-color: transparent;
  color: transparent;
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  transform: rotate(45deg);
}

.Radio:focus:not(:active) {
  box-shadow: 0 0 0px 1px var(--radio-bg-color),
    0 0 0 2px var(--radio-text-color);
}

.Radio:before,
.Radio:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.Radio:before {
  width: 16px;
  height: 16px;
  background-color: var(--text-color-invert);
  box-shadow: inset 0px -2px 0px 0px var(--radio-bezel-color-semi),
    inset -2px 0px 0px 0px var(--radio-bezel-color-invert),
    inset 0px 2px 0px 0px var(--radio-bezel-color-semi),
    inset 2px 0px 0px 0px var(--radio-bezel-color);
}

.Radio:after {
  width: 5px;
  height: 5px;
}

.Radio:checked:before {
  background-color: var(--radio-bg-checked-color);

  box-shadow: inset 0px -2px 0px 0px var(--radio-bezel-color-semi),
    inset -2px 0px 0px 0px var(--radio-bezel-color),
    inset 0px 2px 0px 0px var(--radio-bezel-color-semi),
    inset 2px 0px 0px 0px var(--radio-bezel-color-invert);
}

.Radio:hover:before {
  background-color: var(--radio-text-hover-color);
}

.Radio:hover:checked:before {
  background-color: var(--radio-bg-checked-hover-color);
}

.Radio:checked:after {
  background-color: var(--radio-text-color);

  box-shadow: 0px -2px 0px 0px var(--radio-bezel-color-semi),
    -2px 0px 0px 0px var(--radio-bezel-color),
    0px 2px 0px 0px var(--radio-bezel-color-semi),
    2px 0px 0px 0px var(--radio-bezel-color-invert);
}

.Radio:hover:checked:after {
  background-color: var(--radio-text-hover-color);
}

.Radio_indeterminate:after {
  background-color: var(--radio-bg-checked-color);
  width: 8px;
  height: 8px;
  box-shadow: inset 0px -2px 0px 0px var(--radio-bezel-color),
    inset -2px 0px 0px 0px var(--radio-bezel-color-semi),
    inset 0px 2px 0px 0px var(--radio-bezel-color-invert),
    inset 2px 0px 0px 0px var(--radio-bezel-color-semi);
}

.Radio_indeterminate:hover:after {
  background-color: var(--radio-bg-checked-hover-color);
}

.Radio[readonly],
.Radio[disabled] {
  pointer-events: none;
  cursor: pointer;
}

.Radio[disabled] {
  opacity: 0.5;
}
