:root {
  --select-background-color: #313234;
}

.Select {
  background-color: var(--select-background-color);
  border-radius: 0;
  border-style: solid;
  border-width: 4px 2px 2px;
  border-color: #242326;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.SelectValue {
  flex: 1;
  font-size: 16px;
  line-height: 1.4;
  width: 100%;
  box-sizing: border-box;
}

.SelectActions {
  padding: 0 16px;
  display: flex;
  gap: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% - 16px);
  align-items: center;
}

.SelectAction {
  height: 100%;
  padding: 0;
  min-width: 24px;
}

.SelectAction:focus::after {
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  box-shadow: inset 0 0 0 2px white;
}
.Select_visible .SelectActionOpen,
.Select_focus .SelectActionOpen {
  transform: rotate(90deg);
}

.SelectOptions {
  background-color: var(--select-background-color);
  width: 100%;
  border-style: solid;
  border-width: 4px 2px 2px;
  border-color: #242326;
  user-select: none;
}

.SelectOption {
  padding: 6px 12px;
  color: #d0d1d4;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.4;
  width: 100%;
  box-sizing: border-box;
}

.SelectOption_disabled {
  pointer-events: none;
  opacity: 0.4;
  user-select: none;
  cursor: default;
}

.SelectOption:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.SelectOption_selected {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
}
