.sb-main-padded.sb-show-main {
  background-color: #23232a;
  color: #fff;
  font-family: "minecraft";
  height: 100vh;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
