.ListItem {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  gap: 1rem;
  width: 100%;
  border-bottom: 1px solid #e6e6e611;
  transition: background-color 0.2s ease-in-out;
}

.ListItem_selected {
  background-color: var(--secondary-color-30);
}

.ListItem_selected:hover {
  background-color: var(--secondary-color-hover-30);
}

.ListItemCheckbox {
  display: flex;
}

.ListItemContent {
  flex: 1;
}

.ListItemOptions {
  opacity: 1;
}

.ListItem:focus {
  background-color: #f5f5f511;
}
.ListItem:hover {
  background-color: #f5f5f511;
}

.ListItem_filtered,
.ListItem_filtered:hover {
  background-color: var(--primary-color-active-30);
}

.ListItem_highlighted,
.ListItem_highlighted:hover {
  background-color: var(--primary-color-hover-30);
}

.ListItem_dragging {
  background-color: var(--secondary-color-hover-30);
  backdrop-filter: blur(4px);
}
