@font-face {
  font-family: "minecraft";
  src: url("../font/MinecraftRegular.otf");
}
@font-face {
  font-family: "minecraft-bold";
  src: url("../font/MinecraftBold.otf");
}

body {
  font-family: "minecraft";
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: #23232a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --background-color: #23232a;
  --input-background-color: #23232a;
  --select-color: #fff;

  --primary-color: #3b8526;
  --primary-color-30: rgba(59, 133, 38, 0.3);
  --primary-color-hover: #50ad2e;
  --primary-color-hover-30: rgba(52, 165, 53, 0.3);
  --primary-color-active: #4bbc22;
  --primary-color-active-30: rgba(42, 100, 28, 0.3);

  --accent-color: #2e6be5;

  --secondary-color: #d0d1d4;
  --secondary-color-30: rgba(208, 209, 212, 0.3);
  --secondary-color-hover: #f4f6f9;
  --secondary-color-hover-30: rgba(244, 246, 249, 0.3);
  --secondary-color-active: #ffffff;
  --secondary-color-active-30: rgba(177, 178, 181, 0.3);

  --text-color: #fff;
  --text-color-invert: #23232a;

  --bezel-color: rgba(0, 0, 0, 0.4);
  --bezel-color-semi: rgba(128, 128, 128, 0.4);
  --bezel-color-invert: rgba(255, 255, 255, 0.4);
}
